<%= turbo_frame_tag 'people' do %>
  <table style="width: 100%;">
    <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Pets</th>
    </tr>
    </thead>
    <tbody>
      <% people.each do |person| %>
        <%= render partial: 'person', locals: { person: person } %>
      <% end %>
    <tbody>
  </table>
<% end %>
