<%= turbo_frame_tag 'products' do %>
  <table style="width: 100%;">
    <thead>
    <tr>
      <th>Mame</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
      <%= render products, cached: true %>
    <tbody>
  </table>
<% end %>
